/* This is the css file for the homepage. It is linked to the homepage.html file. */
body{
    background-image: url(images/ArkhasMap.jpg);
    overflow: hidden;
 }
h1{
      font-size: 30px;
     color: rgb(0, 0, 0);
     font-family: 'Times New Roman', Times, serif;
        border: 3px solid black;
        margin: 150px 20px 20px 20px;
        animation-name: SlideIn;
        animation-duration: 2s;
        padding-bottom: 20px;
     }

.Links{
    display: flex;
    padding-top:50px;
    justify-content: space-between;
    color: black;
    font-size: 20px;
    animation-name: SlideDown;
    animation-duration: 3s;
    transition: ease-in-out;
}

a:hover{

    color:white;
    background-color: black;
    transition: ease-in-out 0.5s;
}


a{
    color: black;
}

.Descriptions{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
   margin: 0px 20px 20px 0px;
   animation-name: SlideUp;
    animation-duration: 3s;
}





@keyframes SlideDown{
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
  
@keyframes SlideIn{

    0%{
        transform: translateX(-300%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes SlideUp{
    0%{
        transform: translateY(400%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }}