html{
    scroll-behavior: smooth;
}

body{
    background-image: url(images/ArkhasMap.jpg) ;
    overflow-x: hidden;

}

h1{
    text-align: center;
    animation-name: SlideInLeft;
    animation-duration: 1s; 
}

nav{
    display: flex;
    justify-content: space-between;
    animation-name: SlideUp;
    animation-duration: 1.5s;
}

a{
    color: black;
    font-size: 20px;
    margin: 5px;
}
a:hover{
    background-color: black;
    color: aliceblue;
    transition: 0.5s;
}
h2{
    text-align: center;
    z-index: 1;
}

section{
    min-height: 800px;
    animation-name: SlideInRight;
    animation-duration: 2.5s;
    display: flex;
    flex-direction: column; /* this turns every section into collumns */

}

.Rilge{
    background-image: url('Locations/Rilge.jpg');
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.Taihe{
    background-image: url('images/Taihe.jpg');
}

.Nataloch{
    background-image: url('Locations/Nataloch.jpg')
}

.Cursara{
    background-image: url('Locations/Cursara.jpg')
}

.Savannia{
    background-image: url('Locations/Savannia.jpg')
}

.Hokensei{
    background-image: url('Locations/Hokensei.jpg')
}

.XerGath{
    background-image: url('Locations/Xer\'Gath.jpg')
}
.Faldra{
    background-image: url('Locations/Faldra.jpg')
}
.Elfeign{
    background-image: url('images/Elven\ Kingdom\ \(1\).jpg');
}

.Rilge::before {  
                            /* ::before Adds an extra styling element before the actual content To create a blur
                            effect without affecting the original background */
    content: "";            /* content: ""	Required for ::before to work We want an invisible styling element */
    position: absolute;     /* position: relative;	Keeps the element in its original place but allows movement */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit;
    background-size: inherit;
    background-position: inherit;
    z-index: 0;             /* z-index	Controls which element appears on top */
    transition: filter 2s ease;
}

.RilgeText{
    text-align: center;
    font-size: 30px;
 margin-top: auto;
 padding: 100px;
 position: relative;    
 margin-bottom: 0;
 z-index: 1;
}

.Rilge:hover::before {
    filter: blur(5px); /* this blurs the Section's background once you hover on it */
}

@keyframes SlideInRight{
    0%{
        transform: translateX(300%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity:1;
    }
}

@keyframes SlideInLeft{
    0%{
        transform: translateX(-200%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity:1;
    }
}


@keyframes SlideUp{

0%{
    transform:translateY(500%);
    opacity:0;
}
100%{
    transform: translateY(0%);
    opacity: 1;
}
}