



body{
    background-image: url(farmer-background-image-by-kenny-vo.avif);
    animation-name: slide-inLeft;
animation-duration: 2s;
margin-top: 50px;
}
.npcs{
font-size:large ;
text-align: center;
font-family: 'Times New Roman', Times, serif;
}

#npc{
    animation-name: appear;
    animation-duration: 3s;
    transition: ease-in-out;
    
}


.TxT{
    font-size: larger;

margin-left: 20px;
    margin-right: 50px;
}



.Homepage{
    display: block;
    margin-left: auto;
    margin-right: auto;
text-align: center;
}



div{
    text-align: center;
    align-items: center;

}
p{
    margin: auto;
font-size: larger;
}
span{
    color:crimson  ;
    font-family: 'Times New Roman', Times, serif;
    border: 3px solid black;

    border-radius: 10px;
    font-size: 30px;
}

span:hover{
    color: rgb(255, 255, 255);
    transition: color 0.3s;
    background-color: black;
    
}


@keyframes slide-inLeft{
    from{
        margin-left: 100%;
        width: 300%;
    }
    to{
        margin-left: 0%;
        width: 100%;
    }
}
@keyframes appear{
    from{
    opacity: 0%;
    }
    to{
   opacity: 100%;
    }
}



select{
    cursor: pointer;
    background-color:#E0E0E0;
    border: 1px solid black;
}

select:hover{
    background-color: #FFFFFF;
    color: rgb(0, 0, 0);
 transition: background-color 0.3s;
}
button{
    cursor: pointer;
    background-color: #E0E0E0;
    border: 1px solid black;
}

button:hover{
    background-color: white;
    color: rgb(0, 0, 0);
    transition: background-color 0.3s;
}