html {
    scroll-behavior: smooth;
  }


body{
    background-image: url(images/ArkhasMap.jpg);
    overflow-x: hidden;}


h2{
    text-align: center;
    font-size: x-large;
}

h1{
        text-align: center;
        font-size: x-large;
}

nav{

    display: flex;
    justify-content: space-between;
}

a{
    color:black;
    padding: 50px;
    width:auto;
    font-size: 20px;
}

header{
    margin-top: 50px;
}

section::before {  
    /* ::before Adds an extra styling element before the actual content To create a blur
    effect without affecting the original background */
content: "";            /* content: ""	Required for ::before to work We want an invisible styling element */
position: absolute;     /* position: relative;	Keeps the element in its original place but allows movement */
top: 0;
left: 0;
right: 0;
bottom: 0;
background-image: inherit;
background-size: inherit;
background-position: inherit;
z-index: 0;             /* z-index	Controls which element appears on top */
transition: filter 2s ease;
}

section:hover::before {
    filter: blur(10px); /* this blurs the Section's background once you hover on it */
}
section{
    z-index: 1;
}

.HomepageBtn{
    text-align: center;
    font-size: 30px;
display:block;
margin-left: auto;
margin-right: auto;
width: 300px;
}

a:hover{
    color: white;
    background-color: black;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}

ul{
    width: 250px;
}

li{
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
li:hover{
    color: white;
    background-color: black;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}


p, pre {
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}


.players{ 
    display: block;
    margin-left: auto;
    margin-right: auto;}


.ElfSection{
    background-image: url(images/Elven\ Kingdom\ \(1\).jpg);
    animation-duration: 1.5s;
    animation-name: slide-in;}


.TextElfforge{
    display: flex;
     justify-content: space-between;
     gap: 20px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

.Armani, .Vogue{
    flex: 1;
     padding: 30px;
     padding-bottom: 0;
     color: white}

.Eldrin{
    display: flex;
    height: auto;
}

    .Maneuvers{
        width: 100%;
        max-width: 600px;
        margin: 20px auto;
        font-size: 18px;
   

    }

.Kenku{
    margin-left: 50px; 
    margin-top: 80px;  
height: 300px;}

.EldrinSection{
background-image: url(images/Taihe.jpg);
animation-duration: 2s;
animation-name: slide-in;}

.ViegoSection{
    background-image: url(images/ShadowIsles.jpg);
    animation-duration: 3s;
animation-name: slide-in;

}


.ViegoDiv{
    display: flex;
    margin-left: auto;
    margin-right: auto;}

.Viego{
    display: block;
  margin-left: auto;
  margin-right: auto;
height: 675px;}

.ViegoText, .ArtText{
    color: aliceblue;
    padding: 30px;}

.ArtSection{
background-image: url(images/ArtPact3.jpg);
text-align: center;
animation-duration: 4s;
animation-name: slide-in;}

.ArtName{
    color: aliceblue;}

 .TextArt{
    text-align: start;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;}

    .EredrinSection{
        background-image: url(images/Eredrin\ \(1\).jpg);
width: 1440px;
animation-duration: 5s;
animation-name: slide-in;
    }

    @keyframes slide-in{
        from{
      transform: translateX(200%);
            width: 300%;
        }
        to{
       transform: translateX(0%);
            width: 100%;
        }
    }
