body{
    background-image: url(image\ 2.jpg);overflow-x: hidden;}


h2{
    text-align: center;
    font-size: x-large;
}

p, pre {
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}


.players{ 
    display: block;
    margin-left: auto;
    margin-right: auto;}


.ElfSection{
    background-image: url(images/Elven\ Kingdom\ \(1\).jpg);}


.TextElfforge{
    display: flex;
     justify-content: space-between;
     gap: 20px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

.Armani, .Vogue{
    flex: 1;
     padding: 30px;
     color: white}

.Eldrin{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-left: 100px;
    margin-right: 50px;}

.Kenku{
    margin-left: 50px; 
    margin-top: 80px;  }

.EldrinSection{
background-image: url(images/Taihe.jpg);}

.ViegoSection{
    background-image: url(images/ShadowIsles.jpg);}

.ViegoDiv{
    display: flex;
    margin-left: auto;
    margin-right: auto;}

.Viego{
    display: block;
  margin-left: auto;
  margin-right: auto;
height: 675px;}

.ViegoText, .ArtText{
    color: aliceblue;
    padding: 30px;}

.ArtSection{
background-image: url(images/ArtPact3.jpg);
text-align: center;}

.ArtName{
    color: aliceblue;}

 .TextArt{
    text-align: start;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;}